iframe#integration {
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-height: 500px;
  z-index: 9999;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0px;
  padding: 0px;
  border: 0px none transparent;
  visibility: visible;
  -webkit-tap-highlight-color: transparent;
  background: rgba(0, 0, 0, 0.00392157);
  overflow: hidden;
}

body.integration-ios8.integration-safari iframe#integration {
  position: absolute;
  min-height: 0;
}

body.integration-noscroll {
  /*position: fixed;*/
  overflow: hidden;
}

body.integration-ios8.integration-safari {
  position: static;
}

