/* html and body */

html.integration-noscroll.integration-ios8,
html.integration-noscroll > body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  border: 0;
  padding: 0;
}

html.integration-noscroll.integration-ios8,
html.integration-noscroll.integration-ios8 > body {
  position: relative;
}

/* iframe */

iframe#integration {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 500px;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0 none transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  visibility: visible;
  -webkit-tap-highlight-color: transparent;
  background: rgba(0, 0, 0, 0.00392157);
}

html.integration-ios8 iframe#integration {
  min-height: 0;
  position: absolute;
}

