#header {
  height: 100px;  
  background-color: #facade;
}

#footer {
  height: 100px;
  background-color: #facade;
}

hr {
  border-top: 100px solid rgba(56, 52, 85, 0.3);
  border-bottom: 100px solid rgba(56, 52, 85, 0.3);
  border-right: 0;
  border-left: 0;
}