body {
  padding: 30px;
  border-radius: 5px;
}

input {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  padding: 0 5px 0 5px;        
  line-height: 26px;
}

label {
  display: inline-block;
  width: 100%;
}
