html {
  position absolute;
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

body {
  position: absolute;
  height: 400px;
  width: 300px;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -150px;
  background: #f5f5f5;
  box-sizing: border-box;
}

